@import "tailwindcss";

@layer utilities {
  .shadow-light {
    box-shadow: 4px 4px 0 0 #000;
  }
  .shadow-dark {
    box-shadow: 4px 4px 0 0 #fff;
  }
}

/* =========================
   THEME (Tailwind v4 way)
========================= */
@theme {
  --color-lighthover: #fcf4ff;
  --color-darkhover: #2a004a;
  --color-darktheme: #11001f;

  --font-outfit: var(--font-outfit);
  --font-ovo: var(--font-ovo);
}

/* Optional base styling */
body {
  font-family: Outfit;
}

@layer base {
  :root {
    --font-outfit: var(--font-outfit);
    --font-ovo: var(--font-ovo);
  }

  .font-outfit {
    font-family: var(--font-outfit);
  }

  .font-ovo {
    font-family: var(--font-ovo);
  }
}

